body {
	color: #cfba88;
	font-family: Arial, Helvetica, sans-serif;

	background: black;
}

section {
	width: 94%;
	min-width: 640px;
	max-width: 1000px;

	margin: 0 auto;
	padding: 25px;

	background-image: url('./images/bg.png');
}

h1 {
	margin: 20px;
	padding: 20px;

	font-size: 30px;
	text-shadow: 0 0 20px black,  0 0 18px black;

	border: 2px solid #4b391744;
	border-radius: 10px;

	background:
		repeating-linear-gradient(45deg, transparent, transparent 10px, #ad9f6f44 10px, #ad9f6f44 20px),
		linear-gradient(to bottom, #2c200a22, #2c200a22);

		box-shadow: inset 2px 2px 6px #0006;
}
