@font-face {
	font-family: "MAX Pixel";
	src: url("./fonts/max_pixel.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MAX Regular";
	src: url("./fonts/max_regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MAX Square";
	src: url("./fonts/max_square.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


body {
	width: 100%;
	height: 100%;
	margin: 0;

	font-family: "MAX Regular", Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-rendering: optimizeSpeed;

	background-color: #000;
	background: url('./images/sitebg.png');
	background-attachment: fixed;
	background-size: cover;
    background-position: center;

	cursor: default;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}
}

header {
	width: 100%;
	max-width: 640px;
	overflow: hidden;
	margin: 0 auto 10px auto;

	img {
		width: 100%;
	}
}

nav {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;

	ul {
		list-style-type: none;

		display: flex;
		flex-direction: row;

		margin: 0;
		padding: 0;

		li {
			width: 100%;
			padding: 8px 12px;

			border-image-source: url('./images/btn.png');
			border-image-slice: 5 5 5 5 fill;
			border-image-width: 5px 5px 5px 5px;
			border-image-outset: 0px 0px 0px 0px;
			border-image-repeat: stretch stretch;

			a {
				display: block;
				width: 100%;
				height: 100%;
				margin: 6px 0 4px 0;

				color: #eda;
				font-family: "MAX Square", Arial, Helvetica, sans-serif;
				line-height: 1em;
				text-shadow: -1px -1px 1px #985, 1px 1px 3px #000;
				text-align: center;
				text-decoration: none;

				&:hover {
					color: #fff;
				}

				u {
					color: #feb;
					text-shadow: -1px -1px 1px #ba7, 1px 1px 3px #000;
				}
			}
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 640px;
	overflow: hidden;
	margin: 10px auto;
}

p {
	margin: 0;
	line-height: 1.5em;

	& + p {
		margin-top: 0.5em;
	}
}

a {
	color: #fb0;
	text-shadow: -1px -1px 8px #fb08;

	&:hover {
		color: #fd0;
		text-shadow: -1px -1px 8px #fd08;
	}
}

ul {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	line-height: 1.5em;

	li {
		line-height: 1.3em;
	}
}

.done {
	font-size: 0.8em;
	color: #0d0;

	&::before {
		content: "[";
		display: inline;
	}

	&::after {
		content: "]";
		display: inline;
	}
}

.partial {
	font-size: 0.8em;
	color: #dd0;

	&::before {
		content: "[";
		display: inline;
	}

	&::after {
		content: "]";
		display: inline;
	}
}

.log {
	background: url("./images/log.png");
	border-radius: 6px;
	box-shadow: inset 3px 3px #eeaa, inset -3px -3px #221a;
}

.log-header {
	margin: 20px;
	padding: 20px;

	color: #edb;
	font-family: "MAX Square", Arial, Helvetica, sans-serif;
	font-size: 1.45em;
	text-shadow: -1px -1px 8px #edb8;

	border: 2px solid #4314;
	border-radius: 10px;

	background:
		repeating-linear-gradient(45deg, transparent, transparent 10px, #a964 10px, #a964 20px),
		linear-gradient(to bottom, #2202, #2202);

	box-shadow: inset 2px 2px 6px #0006;

	.log-date {
		margin: 12px 0 4px 0;
		color: #ff0;
		font-family: "MAX Pixel", Arial, Helvetica, sans-serif;
		font-size: 0.74em;
		line-height: 1em;
		text-align: right;
		text-shadow: -1px -1px 8px #ff08;
	}
}

.log-bg {
	margin: 12px;
	padding: 16px;

	border-image-source: url('./images/logbg.png');
	border-image-slice: 14 14 14 14 fill;
	border-image-width: 14px 14px 14px 14px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: round round;

	& + .log-bg {
		margin-top: 0;
	}
}

.log-message {
	color: #0e0;
	text-shadow: -1px -1px 8px #0e08;
}

.log-panel {
	margin: 10px;
	padding: 14px 12px 14px 14px;

	border-image-source: url('./images/panel.png');
	border-image-slice: 40 125 12 125 fill;
	border-image-width: 40px 125px 12px 125px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;

	.label {
		overflow: hidden;
		margin: 2px 105px 8px;

		color: #0d0;
		font-family: "MAX Square", Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-overflow: ellipsis;
		text-shadow: -1px -1px 8px #0d08;
		white-space: nowrap;
	}
}

.grid {
	display: grid;
	gap: 6px;
	grid-template-columns: repeat(1, 1fr);

	&.grid-2c {
		grid-template-columns: repeat(2, 1fr);
	}

	&.grid-3c {
		grid-template-columns: repeat(3, 1fr);
	}

	div:has(> img) {
		display: flex;
		justify-content: center;
		align-items: center;

		width: calc(100% - 4px);
		height: calc(100% - 4px);
		padding: 2px;

		border-radius: 6px;
		box-shadow: inset -2px -2px #eeaa, inset 2px 2px #553a;

		background: url("./images/scrnbg.png");

		.log-screenshot {
			max-width: calc(100% - 2px);
			max-height: calc(100% - 2px);
			border-radius: 5px;
		}
	}
}


.image-preview-container {
	display: flex;
	align-items: center;
    justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #100a;

	.log-panel {
		max-width: calc(100vw - 60px);
		max-height: calc(100vh - 60px);

		img {
			max-width: calc(100vw - 80px);
			max-height: calc(100vh - 80px);
			border-radius: 6px;
		}
	}
}
